{% load staticfiles %}
<!DOCTYPE html>
<head>
	<title>ChocOH!</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/png" href="/static/images/logo.png">
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script%7CLato:300,400,700" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="{% static 'js/jquery.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="50">
	<!-- for creating navbar -->
	<!-- for shrinking the nav bar in mobile --> 
<div>
	<nav class=" navbar navbar-inverse navbar-fixed-top">
	<div class="container-fluid">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span> 
	      </button>
	      <a class="navbar-brand" href="/home#startpage" style="color: #ffffff;">ChocOH!</a>
	    </div>
	    <div class="collapse navbar-collapse shadow" id="myNavbar">
		    <ul class="nav navbar-nav navbar-content">
		        <li><a href="/home#startpage">Home</a></li>
		        <li ><a href="/home#specialpage">Special</a></li>
		        <li><a href="/home#productpage">Products</a></li> 
    		    <li><a href="/home#Aboutuspage">About us</a></li> 
		        <li><a href="/home#Reviewspage">Reviews</a></li>
		        <li><a href="/home#Contactuspage">Contact us</a></li> 
			</ul>
		    <ul class="nav  navbar-nav navbar-content navbar-right">
		    	{% if user %}
		        <li><a href="/signup" ><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
		        <li><a href="/login" ><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
		        {% else %}
		        <li><a href="/your_orders" >Your Orders</a></li>
		        <li><a href="/cart/0/0" >Cart <span class="glyphicon glyphicon-shopping-cart"></span></a></li>
		        <li><a href="/logout" ><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
		        {% endif %}
		    </ul>
	    </div>
  	</div>
	</nav>
</div>
{% include "message_display.html" %}
{% block content %}
{% endblock %}

</body>
</html>