{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<!-- <div class="card">
  <div class="card-block">
    This is some text within a card block.

    This is some text within a card block.
    This is some text within a card block.
    This is some text within a card block.
    This is some text within a card block.

  </div>
</div> -->
<br>
<br>
<br>
{% if price == 0 %}
	<h1> Oops , No Item in the Cart ! </h1>
{% else %}
<div class="card-group">
{% for i in cart %}
	<div class="card">
	<div class="card-block">
	<img class="card-img-top img-responsive" src="{% static 'images/product.png' %}" style="width: 10%;float: left;"alt="Card image cap">
	<br>
	  <h4 class="card-title">{{ i.5 }}</h4>
	  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
	  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
	  <a href="#" class="btn btn-primary">Change Quantity</a>
	  <a href="#" class="btn btn-danger">Delete</a>
	</div>
	<br>
	</div>
{% endfor %}
</div>
<br>
<br>
<br>
<br>
<br>
<br>

<div class="text-center col-md-12" id="fixedbutton">
<a href="#" class="btn btn-success" style="line-height: 0; padding-left: 60px; padding-right: 60px;font-family: 'Dancing Script';"><h2>Pay &#x20B9 {{ price }}</h2></a>
</div>
<br>
{% endif %}
{% endblock %}