{% extends 'ceobase.html' %}
{% load staticfiles %}
{% block content %}
<br>
<br>
<br>
<div class="card-group">
{% for i in user %}
	<div class="card">
	<div class="card-block">
	<img class="card-img-top img-responsive" src="{% static 'images/user.png' %}" style="width: 10%;float: left;"alt="Card image cap">
	<br>
	  <h4 class="card-title">{{ i.1 }}</h4>
	  <p class="card-text">Contact Number :- {{ i.4 }}</p>
	  <p class="card-text">Email_id:- {{ i.3 }}</p>
	  <p class="card-text"><small class="text-muted">User_wallet:- {{ i.5 }}</small></p>
	</div>
	<br>
	</div>
{% endfor %}
</div>
<br>
<br>
<br>
<br>
<br>
<br>
{% endblock %}