{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
	<link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet"> 
	<!-- designing sldier of homepage -->
<section >
<div id="startpage"  >
	<div class="container-fluid" style="padding: 0;" >
	  	<div id="carousel-1" class="carousel slide" data-ride="carousel">
		    <!-- Indicators -->
		    <ol class="carousel-indicators">
		      <li data-target="#carousel-1" data-slide-to="0" class="active"></li>
		      <li data-target="#carousel-1" data-slide-to="1"></li>
		    </ol>

		    <!-- Wrapper for slides -->
		    <div class="carousel-inner">

			    <div class="item active">
			    	<div class="parent-slider-image">
				    	<div class="slide-image">
				        	<img src="{% static 'images/slide1.jpg' %}" alt="Chocolates are getting baked!" id="slider" class="img-responsive" style="width: 100%;">
				        </div>
				        <div class="text-center" id="slider-logo">
				        	<p>ChocOH!</p>
				        </div>
			        </div>
			        <div class="carousel-caption">

			          <h1>"I have never met a chocolate I didn't like..."</h1>
			      <div class="home-button-product"> <a href="#productpage" class="btn btn-lg  btn-warning">OUR PRODUCTS</a> </div>
			        </div>     
					    </div>
					    <div class="item">
					    	<div class="parent-slider-image">
						    	<div class="slide-image">
							        <img src="{% static 'images/slide2.jpg' %}" alt="Chocolates are getting baked!" id="slider" style="width:100%;">
				        </div>
				        <div class="text-center" id="slider-logo">
				        	<p>ChocOH!</p>
				        </div>
			        </div>
			        <div class="carousel-caption" >
			          <h1 >“Anything is good if it's made of Chocolate...”</h1>
			          <div class="home-button-product"> <a href="#products" class="btn btn-lg  btn-warning">OUR PRODUCTS</a> </div>
			      </div>
			    </div>

								    <a class="left carousel-control" href="#carousel-1" data-slide="prev">
			      <span class="glyphicon glyphicon-chevron-left"></span>
			      <span class="sr-only">Previous</span>
			    </a>
			    <a class="right carousel-control" href="#carousel-1" data-slide="next">
			      <span class="glyphicon glyphicon-chevron-right"></span>
			      <span class="sr-only">Next</span>
			    </a>
	  		</div>
		</div>
	</div>
</section>

<div>
<section id="specialpage">	
		<div class="container-fluid img-responsive" style="background-image: url({% static 'images/timeline-1.jpg' %}); background-repeat: no-repeat; background-size: 100%; ">
			<div class="row">
				<div class="col-md-12" id="product-heading">
					<p><u style="text-decoration: underline; text-decoration-color:orange; text-decoration-style:  ">Special!</u></p>
				</div>
			</div>
		<div class="row">
		<div class="col-md-6 ">
			<img src="{% static 'images/special.png' %}" alt="Avatar" style="width:120%; padding-left: 80px;">
		</div>
		<div class="col-md-4 col-md-offset-1 text-center" style="font-family: 'Courgette', cursive; font-size: 18px;">
			<p> Chocolates - loved by everyone from children to adults to oldies - a popular choice for marketing gifts. It can be given as a corporate gift for employees or a business gift for clients. They can also be considered if you are exploring corporate giveaway ideas.
			</p>
			<p>	
			
This can be a holiday greeting if the boxes are corporate Christmas gifts or any other message as is appropriate for the occasion. If you put it all together, they surely become the best corporate gifts for any occasion or event. You can also choose to enclose a message for the recipient in each gift box.
			</p>
			So what are you thinking? Get in touch with us and make your special one happy. :)   
			<br>
			<br>
			<a href="/home#Contactuspage"><button type="button" class="btn btn-default text-center">Contact Us</button></a>
		</div>
		</div>
		<br>
		<br>
		</div>
</section>	
</div>
	
<section id="productpage" style="background-image: url({% static 'images/contact_us_bg.jpg' %});">
	<div class="container-fluid">
			<div class="row">
				<div class="col-md-12" id="product-heading">
					<p><u style="text-decoration: underline; text-decoration-color:orange;">Products</u></p>
				</div>
			</div>
	</div>
	<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="carousel slide multi-item-carousel" id="theCarousel">
        <div class="carousel-inner">
        {% for i in product_list %}
        	{% if i.0 == 1 %}
          <div class="item active">
          	{% else %}
          	<div class="item">
          	{% endif %}
            <div class="card col-md-4 text-center" >
							  <a href="/product_detail/{{ i.0 }}"><img src="{% static 'images/product.png' %}" alt="Avatar" style="width:80%;"></a>
							    <h4 style="font-size: 22px;"><b>{{ i.2 }} <br> &#x20B9 {{ i.1 	}}</b></h4> 
							    <form action="/cart/{{ i.0 }}/0" method="POST">{% csrf_token %}
							    <button type="submit" class="btn btn-default text-center">Add to Cart<span class="glyphicon glyphicon-shopping-cart"></span></button>
							    </form>
							    <br>
							    <br>
							</div>
          </div>
          {% endfor %}
        </div>
        <div>
        <a class="left carousel-control" href="#theCarousel" data-slide="prev" style="width:10%;left: -80px;"><i class="glyphicon glyphicon-chevron-left"></i></a>
    	</div>
        <a class="right carousel-control" href="#theCarousel" data-slide="next" style="width:10%;right: -80px;"><i class="glyphicon glyphicon-chevron-right" style="padding-left: 0;"></i></a>
      </div>
    </div>
  </div>
</div>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/home.js' %}"></script>
	<br>
	<br>
</section>
<section id="Aboutuspage" style="background-image: url({% static 'images/news-2.jpg' %}); background-repeat: no-repeat; background-size: 100%;">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12" id="product-heading">
					<p><u style="text-decoration: underline; text-decoration-color:orange; text-decoration-style:  ">About us</u></p>
				</div>
			</div>
		</div>
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-6 col-md-offset-3" id="product-heading" style="font-size: 27px; background-color: rgba(255, 255, 255, 0.6); color: black;">
					<p>Starting from a small chocolate business from house, we have came to this position to open a business. Trying different flavors and mixtures, our chocolates became famous in the city. All our ingredients are of the best organic quality and are brewed according to the original recipe. Every day decadent chocolate bars are carefully crafted using the timeless combination of chocolate and love.    </p>
				</div>
			</div>
			<br>
			<br>
			<br>
		</div>
</section>	
<section id="Reviewspage" style="background-image: url({% static 'images/news-1.jpg' %}); background-repeat: no-repeat; background-size: 100%;">
	<div class="container-fluid">
			<div class="row">
				<div class="col-md-12" id="product-heading">
					<p><u style="text-decoration: underline; text-decoration-color:orange; text-decoration-style:  ">Reviews</u></p>
				</div>
			</div>
		</div>
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-6 col-md-offset-3" id="product-heading" style="font-size: 25px; background-color: rgba(255, 255, 255, 0.6); color: black;">
					<p>Im a big fan of local business or outlets that provide authentic and unique characteristic products which are specific to a region than the brands . Which got me interested in Chocoh! initially.. I took a tour to the store .. loved their dark chocolate.. the one with almonds aswell .. then the fruit and nut & rum and raisin.. theCarousel chocolates make for an excellent gifting option and are economically priced .  </p>

				<button type="button" class="btn btn-success" style="font-size:20px; color: black;">Know More!</button>
				<br>
				<br>
				</div>
			</div>
			<br>
			<br>
</section>	

<section id="Contactuspage" style="background-image: url({% static 'images/contact_us_bg.jpg' %});">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12" id="product-heading">
					<p><u style="text-decoration: underline; text-decoration-color:orange; text-decoration-style:  ">Contact Us</u></p>
				</div>
			</div>
		</div>
<div class="container-fluid">
<div class="row container-fluid">
	<div class="col-md-4 text-center">
		<a href="https://www.youtube.com/"><i class="fa fa-youtube-square" style="font-size:48px;color:white;padding-right: 10px;"></i></a>
		<a href="https://www.facebook.com/"><i class="fa fa-facebook" style="font-size:48px;color:white;padding-right: 10px;"></i></a>
		<a href="https://twitter.com/Twitter"><i class="fa fa-twitter" style="font-size:48px;color:white;padding-right: 10px;"></i></a>
		<a href="https://plus.google.com/discover"><i class="fa fa-google-plus-official" style="font-size:48px;color:white;padding-right: 10px;"></i></a>
	</div>
    <form class="col-md-8 text-center" method="POST" action="/contact_us_message">{% csrf_token %}
      	<div class="row">
          <label class="col-md-2" for="name"> Name : </label>
          <input class="col-md-6 contact-us-form" id="name" name="name" type="text" size="50" >
        </div>
        <br>
      	<div class="row">
          <label class="col-md-2" for="name"> E-mail : </label>
          <input class="col-md-6 contact-us-form" id="name" type="text"  name="email" size="50" >
        </div>
        <br>
      	<div class="row">
          <label class="col-md-2" for="name"> Contact No. : </label>
          <input class="col-md-6 contact-us-form" id="contact" name="contact" type="text" size="50" >
        </div>
        <br>
      	<div class="row">
          <label class="col-md-2" for="name"> Message : </label>
          <div class="col-md-6">
			<textarea rows="5" cols="50" name="message" class="contact-us-form">
			</textarea>	
          </div>
        </div>
        <br>
        <br>
        <div class="col-md-8">
        	<button type="submit" class="btn btn-success">Send Message</button>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
    </form>
</div>
    
  </div>
</section>	

{% endblock %}
