{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<br>
<br>
<br>
<html>
  <head onload="submitPayuForm()">
  <script type="text/javascript">
    var hash = "{{ hashh }}";
    function submitPayuForm() {
      if(hash =='') {
        return;
      }
      var payuForm = document.forms.payuForm;
      payuForm.submit();
    }
  </script>
  </head>
  <body>
    
      <form action="{{ action }}" method="post" name="payuForm">{% csrf_token %}
      <input type="hidden" name="key" value="{{ MERCHANT_KEY }}" />
      <input type="hidden" name="hash_string" value="{{ hash_string }}" />
      <input type="hidden" name="hash" value="{{ hashh }}"/>
       <input type="hidden" name="posted" value="{{ posted }}"/>
      <input type="hidden" name="txnid" value="{{ txnid }}" />
      <input type="hidden" name="firstname" id="firstname" value="{{ posted.firstname|default:'' }}" />
      <input type="hidden" name="amount" value="{{ posted.amount|default:'' }}" />
      <input type="hidden" name="email" id="email" value="{{ posted.email|default:'' }}" />
      <input type="hidden" name="phone" value="{{ posted.phone|default:'' }}" />
      <input type="hidden" name="productinfo" value="{{ posted.productinfo|default:'' }}">
      <input type="hidden" name="surl" value="{{ posted.surl }}" size="64" />
      <input type="hidden" name="furl" value="{{ posted.furl }}" size="64" />
      <input type="hidden" name="service_provider" value="payu_paisa" size="64" />
      <h1>Confirm Order & Pay</h1>
      <div class="text-center">
      Name:- {{ posted.firstname }}
      <br>
      Amount:- {{ posted.amount }}
      <br>
      Txn id:- {{ posted.txnid }}
      <br>
      <br>
      <button type="submit" class="btn btn-success" style="line-height: 0; padding-left: 60px; padding-right: 60px;font-family: 'Dancing Script';"><h2>Pay Now</h2></button>
      </div>
      </table>
    </form>
  </body>
</html>
{% endblock %}