{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<script type="text/javascript" src="{% static 'home.js' %}"></script>
<br>
<br>
<br>
        <div class="container">
        	<div class="row">
               <div class="col-xs-4 item-photo">
                    <br>
                    <br>
                    <br>    
                    {% if product.7 %}
                    <img style="width:300px;height:300px;" src="data:image/png;base64,{{product.7}}" />
                    {% else %}
                    <img style="width:300px;height:300px;"  src="{% static 'images/product.png' %}"  />
                    {% endif %}
                </div>
                <div class="col-xs-5" style="border:0px solid gray">
                    <!-- Datos del vendedor y titulo del producto -->
                    <h1 style="line-height: 0;">{{ product.2 }}</h1>    
                    <h3 style="margin-top:0px;">&#x20B9 {{ product.1 }}</h3>
        
                    <div class="section" style="padding-bottom:20px;">
                        <h2 class="title-attr" style="font-family: 'Dancing script'"><small>Remaining: {{ product.3 }}</small></h2>                    
                        <h4>Quantity</h4>
                        <div>
                        <form action="/cart/{{ product.0 }}/1" method="POST">{% csrf_token %}
                            <input value="1" name="quantity" style="color: black;" />
                        </div>
                    </div>                
                            <div class="section" style="padding-bottom:20px;">
                        <h2 class="title-attr" style="font-family: 'Dancing script'">Ratings: {{ product.6 }}</h2>

        </div>

                    <!-- Botones de compra -->
                    <div class="section" style="padding-bottom:20px;">
                        <button class="btn btn-success" type="submit"><span style="margin-right:20px" class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Add To Cart</button>
                    </div>                                        
                </div>      
                </form>
                <div class="col-xs-9">

                    <div style="width:100%;border-top:1px solid silver">
                        <p style="padding:15px;">
                            <small>
                                {{ product.5 }}
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. laboris nisi ut aliquip ex ea commodo consequat.
                            </small>
                        </p>
                    </div>
                </div>		
            </div>
        </div>
{% endblock %}