{% extends 'shoeshowroom/template.html' %}


{% load staticfiles %}
{% block content %}
    <div class="row">
    {%  for product in product_quan %}
        <div class="col-md-4 text-center col-sm-6 col-xs-6">
            <div class="thumbnail product-box">
                <img src="{{ product.0.img1.url }}"   /><br>
                <div class="caption">
                    <span><font style="font-size: 16px;font-family: comic sans ms">{{product.0.company}}</font><br>
                    <span><font style="font-size: 16px;font-family: comic sans ms">{{ product.0.modelname }}</font><br><br>
                    <span><font style="font-size: 16px;font-family: platino"><strong>Price:&nbsp{{product.0.price}}</strong></font></span><br>
                    <span><font style="font-size: 16px;font-family: platino"><strong>Size:&nbsp{{product.2}}</strong></font></span>
                    <p></p>
                    <p style="display: inline;"><a href="{% url 'remove_from_cart' product.3 %}" class="btn btn-success" role="button">Remove From Cart</a> <p class="btn btn-primary">Quantity:{{product.1}}</p></p>
                </div>
            </div>
        </div>
        {% if forloop.last %}
            </div>
        {% else %}

            {% if forloop.counter|divisibleby:"3" %}
                </div><div class="row">
            {% endif %}

        {% endif %}


    {% endfor %}

    <div class="row">

        <div class="col-md-4">
            
        </div>

        <div class="col-md-4 text-center col-sm-6 col-xs-6">
            <div class="thumbnail product-box">
                <div class="caption">
                    <span style="float: left;"><font style="color: grey;font-size: 15px;">PRICE DETAILS</font></span><br>
                    <hr style="height:1px;border:none;color:grey;background-color:grey;"><br>
                    <span style="float: left;"><font style="color: black;font-size: 15px;"><strong>Price</strong></font></span><span style="float: right;"><strong style="font-size: 15px">{{ tpr }}</strong></span><br><br>
                    <span style="float: left;"><font style="color: black;font-size: 15px;"><strong>Delivery Charges</strong></font></span><span style="float: right;"><strong style="font-size: 15px">{{ dvc }}</strong></span><br>
                    <hr style="border-top: dotted 1px;" /> 

                    <span style="float: left;"><font style="color: black;font-size: 15px;color: green"><strong><b>Amount Payable</b></strong></font></span><span style="float: right;"><strong style="font-size: 15px;color: green">{{ tc }}</strong></span><br><br>

                    <a href="{% url 'payment' user.username %}" class="btn btn-danger btn-lg">Place Order</a>


                </div>
            </div>
        </div>

    </div>
    
	

{% endblock %}