{% extends 'shoeshowroom/template.html' %}

{% block content %}

	<div class="container">
        
        <!-- /.row -->
        <form action="" method="Post" id="form1">
            {% csrf_token %}
            <div class="row">


                <div class="col-md-3">
                    
                    <div>
                        <a href="#" class="list-group-item active">Collection
                        </a>
                        <ul class="list-group">
                            <li class="list-group-item">Boots(Shoe)
                                 <input style="float: right;" type="checkbox" name="collection" value="shoe_boot"><br>
                            </li>
                            <li class="list-group-item">Oxford(Shoe)
                                <input style="float: right;" type="checkbox" name="collection" value="shoe_oxford"><br>
                            </li>
                            <li class="list-group-item">Loafer(Shoe)
                                <input style="float: right;" type="checkbox" name="collection" value="shoe_loafer"><br>
                            </li>
                            <li class="list-group-item">Sneaker(Shoe)
                                <input style="float: right;" type="checkbox" name="collection" value="shoe_sneaker"><br>
                            </li>
                            <li class="list-group-item">Sport Shoe
                                <input style="float: right;" type="checkbox" name="collection" value="shoe_sport"><br>
                            </li>
                            <li class="list-group-item">Beach Slipper
                                <input style="float: right;" type="checkbox" name="collection" value="slipper_beach"><br>
                            </li>
                            <li class="list-group-item">Glider Slipper
                                <input style="float: right;" type="checkbox" name="collection" value="slipper_glider"><br>
                            </li>
                            <li class="list-group-item">Printed Slipper
                                <input style="float: right;" type="checkbox" name="collection" value="slipper_printed"><br>
                            </li>
                            <li class="list-group-item">Mules Sandal
                                <input style="float: right;" type="checkbox" name="collection" value="sandal_mules"><br>
                            </li>
                            <li class="list-group-item">Glider Sandal
                                <input style="float: right;" type="checkbox" name="collection" value="sandal_glider"><br>
                            </li>
                            <li class="list-group-item">Opentoe Sandal
                                <input style="float: right;" type="checkbox" name="collection" value="sandal_opentoe"><br>
                            </li>
                            <li class="list-group-item">Winter Socks
                                <input style="float: right;" type="checkbox" name="collection" value="sock_winter"><br>
                            </li>
                            <li class="list-group-item">Sport socks
                                <input style="float: right;" type="checkbox" name="collection" value="sock_winter"><br>
                            </li>   
                        </ul>
                    </div>

                </div>



                <div class="col-md-1">
                    <div>
                    
                    </div>                    
                </div>
                


                <div class="col-md-3">
                    
                    <div>
                        <a href="#" class="list-group-item active">Min Price
                        </a>
                        <ul class="list-group">
                            <li class="list-group-item"> 500
                                 <input style="float: right;" type="radio" name="minval" value="500"><br>
                            </li>
                            <li class="list-group-item"> 1000
                                <input style="float: right;" type="radio" name="minval" value="1000"><br>
                            </li>
                            <li class="list-group-item"> 1500
                                <input style="float: right;" type="radio" name="minval" value="1500"><br>
                            </li>
                            <li class="list-group-item"> 2000
                                <input style="float: right;" type="radio" name="minval" value="2000"><br>
                            </li>
                            <li class="list-group-item"> 3000
                                <input style="float: right;" type="radio" name="minval" value="3000"><br>
                            </li>
                        </ul>
                    </div>


                    <div>
                        <a href="#" class="list-group-item active">Max Price
                        </a>
                        <ul class="list-group">
                            <li class="list-group-item"> 500
                                 <input style="float: right;" type="radio" name="maxval" value="500"><br>
                            </li>
                            <li class="list-group-item"> 1000
                                <input style="float: right;" type="radio" name="maxval" value="1000"><br>
                            </li>
                            <li class="list-group-item"> 1500
                                <input style="float: right;" type="radio" name="maxval" value="1500"><br>
                            </li>
                            <li class="list-group-item"> 2000
                                <input style="float: right;" type="radio" name="maxval" value="2000"><br>
                            </li>
                            <li class="list-group-item"> 3000
                                <input style="float: right;" type="radio" name="maxval" value="3000"><br>
                            </li>
                            <li class="list-group-item"> 3000+
                                <input style="float: right;" type="radio" name="maxval" value="4000"><br>
                            </li>
                        </ul>
                    </div>


                </div>



                <div class="col-md-1">
                    <div>
                    
                    </div>                    
                </div>




                <div class="col-md-3">
                    <div>
                        <a href="#" class="list-group-item active">Gender
                        </a>
                        <ul class="list-group">
                            <li class="list-group-item">Male
                                 <input style="float: right;" type="checkbox" name="gender" value="M"><br>
                            </li>
                            <li class="list-group-item">Female
                                <input style="float: right;" type="checkbox" name="gender" value="F"><br>
                            </li>
                            <li class="list-group-item">Kids
                                <input style="float: right;" type="checkbox" name="gender" value="K"><br>
                            </li>
                        </ul>
                    </div>

                    <div>
                        <br><br><br><br><br><br>
                    </div>

                    <div>
                        <a href="#" class="list-group-item active list-group-item-success">Size
                        </a>
                        <ul class="list-group">

                            <li class="list-group-item">Six
                                <input style="float: right;" type="checkbox" name="size" value="6"><br>
                            </li>
                            <li class="list-group-item">Seven
                                <input style="float: right;" type="checkbox" name="size" value="7"><br>
                            </li>
                            <li class="list-group-item">Eight
                                <input style="float: right;" type="checkbox" name="size" value="8"><br>
                            </li>
                            <li class="list-group-item">Nine
                                <input style="float: right;" type="checkbox" name="size" value="9"><br>
                            </li>
                            <li class="list-group-item">Ten
                                <input style="float: right;" type="checkbox" name="size" value="10"><br>
                            </li>

                        </ul>
                </div>

                </div>

            </div>


        </form>


        
        <div class="row">
            <div class="col-md-5">
                
            </div>
            <div class="col-md-2">
                <button type="submit" form="form1" value="Submit">Submit</button>
            </div>
        </div>


        <br><br><br><br><br><br><br><br><br><br><br><br>
        





        
	
{% endblock %}