{% extends 'shoeshowroom/template.html' %}


{% load staticfiles %}
{% block content %}

<div class="row">

	<div class="col-md-1">

		<div>
			
		</div>
	</div>

    <div class="col-md-10">
        
        <div class="main box-border">
            <div id="mi-slider" class="mi-slider">
                <ul>

                    <li>
                        <img src="{% static "itemslider/images/boot.jpg" %}" alt="img01"><h4>Boots</h4>
                    </li>
                    <li>
                        <img src="{% static "itemslider/images/oxford.jpg" %}" alt="img02"><h4>Oxfords</h4>
                    </li>
                    <li>
                        <img src="{% static "itemslider/images/loafer.jpg" %}" alt="img03"><h4>Loafers</h4>
                    </li>
                    <li>
                        <img src="{% static "itemslider/images/sneaker.jpg" %}" alt="img04"><h4>Sneakers</h4>
                    </li>
                </ul>
                <ul>

                    <li><a href="#">
                        <img src="{% static "itemslider/images/boot.jpg" %}" alt="img01"><h4>Boots</h4>
                    </a></li>
                    <li><a href="#">
                        <img src="{% static "itemslider/images/oxford.jpg" %}" alt="img02"><h4>Oxfords</h4>
                    </a></li>
                    <li><a href="#">
                        <img src="{% static "itemslider/images/loafer.jpg" %}" alt="img03"><h4>Loafers</h4>
                    </a></li>
                    <li><a href="#">
                        <img src="{% static "itemslider/images/sneaker.jpg" %}" alt="img04"><h4>Sneakers</h4>
                    </a></li>
                </ul>
                <ul>

                    <li><a href="#">
                        <img src="{% static "itemslider/images/boot.jpg" %}" alt="img01"><h4>Boots</h4>
                    </a></li>
                    <li><a href="#">
                        <img src="{% static "itemslider/images/oxford.jpg" %}" alt="img02"><h4>Oxfords</h4>
                    </a></li>
                    <li><a href="#">
                        <img src="{% static "itemslider/images/loafer.jpg" %}" alt="img03"><h4>Loafers</h4>
                    </a></li>
                    <li><a href="#">
                        <img src="{% static "itemslider/images/sneaker.jpg" %}" alt="img04"><h4>Sneakers</h4>
                    </a></li>
                </ul>
                <ul>

                    <li><a href="#">
                        <img src="{% static "itemslider/images/boot.jpg" %}" alt="img01"><h4>Boots</h4>
                    </a></li>
                    <li><a href="#">
                        <img src="{% static "itemslider/images/oxford.jpg" %}" alt="img02"><h4>Oxfords</h4>
                    </a></li>
                    <li><a href="#">
                        <img src="{% static "itemslider/images/loafer.jpg" %}" alt="img03"><h4>Loafers</h4>
                    </a></li>
                    <li><a href="#">
                        <img src="{% static "itemslider/images/sneaker.jpg" %}" alt="img04"><h4>Sneakers</h4>
                    </a></li>
                </ul>

                <nav>
                    <a href="#">Shoes</a>
                    <a href="#">Sandals</a>
                    <a href="#">Slippers</a>
                    <a href="#">Socks</a>
                </nav>
            </div>
            
        </div>
        <br />
    </div>
</div>


<div class="row">
{%  for product in list_of_products %}
    <div class="col-md-4 text-center col-sm-6 col-xs-6">
        <div class="thumbnail product-box">
            <img src="{{ product.img1.url }}"   /><br>
            <div class="caption">
            	<span><font style="font-size: 16px;font-family: comic sans ms">{{product.company}}</font><br>
            	<span><font style="font-size: 16px;font-family: comic sans ms">{{ product.modelname }}</font><br><br>
                <span><font style="font-size: 16px;font-family: platino"><strong>Price:&nbsp{{product.price}}</strong></font></span>
                <p></p>
                <p><a href="{% url 'details' product.myid %}" class="btn btn-primary" role="button">See Details</a></p>
            </div>
        </div>
    </div>
    {% if forloop.last %}
        </div>
    {% else %}

        {% if forloop.counter|divisibleby:"3" %}
            </div><div class="row">
        {% endif %}

    {% endif %}


{% endfor %}

	
{% endblock %}