{% extends 'shoeshowroom/template.html' %}


{% load staticfiles %}
{% block content %}

<script type="text/javascript">
<!--http://www.itechroom.com-->
$(document).ready(function($) {
       $('#accordion div').hide();
       $('#accordion p span').click(function(){
               $('#accordion div').slideUp();
               $(this).parent().next().slideDown();
               return false;
       });
});

</script>

<style type="text/css">
#accordion {
 width:100%;
 margin: 0;
 padding: 0;
}
#accordion p span {
 cursor:pointer;
 font-size: 15px;
 font-family: calibri;
}
.news-title {
 color: #1E6E86;
 font: bold 12px calibri;
 margin-bottom: 10px;
 background: #EDEDED;
 padding: 12px 10px;
 border-radius: 10px;
}
.news_text {
 margin-left: 10px;
 line-height: 18px;
 padding: 10px;
 font-family: calibri;
 text-align: justify;
}
</style>

<a href="{% url 'tquery' %}" style="float: right;text-decoration: none;"><font style="font-size: 17px; color: black">Still Having Issues?</font></a><br><br>
<div id="accordion">
{% for queryx in queries %}
	<div class="row">
		<div class="col-md-10">
			<p class="news-title"><span style="font-family: courier">{{queryx.query}}</span></p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-10">
			<div class="news_text"> <strong>Answer</strong>:
				{% if queryx.answer %}
					<p style="padding-left: 20px;font-family: comic sans ms;">{{queryx.answer}}</p>
				{% else %}
					<p style="padding-left: 20px;font-family: comic sans ms;">NA</p>
				{% endif %}
			</div>
		</div>
	</div>
	
{% endfor %}
<hr>
<br><br><br><br><br><br>


	
{% endblock %}