{% extends 'core/base.html' %}

{% block content %}
    <div class="col-md-12 download-app-box text-center">

         <p class="btn btn-danger btn-lg">Sign Up</p>

    </div>
    <p> &nbsp </p>
    <p> &nbsp </p>
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
    <div class="row">
      <div class="col-md-4">
        
      </div>

      <div class="col-md-1">
        <p>{{ field.label_tag }}</p>
      </div>

      <div class="col-md-1">
        <p>{{ field }}</p><br>
      </div>

    </div>
    {% endfor %}
    <div class="row">
      <div class="col-md-7">
        
      </div>

      <div class="col-md-1">
        <button class="btn-floating btn-large waves-effect waves-light" type="submit" style=><i class="material-icons"><strong>Continue</strong></i></button>
      </div>

    </div>
  </form>
  <br><br><br><br><br><br><br>
{% endblock %}